.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.padding-feilds {
  padding-left: 37%;
}

.padding-buttons {
  padding-left: 36%;
}

.requirement {
  padding-top: 0.5em;
  color: orangered;
  font-family: Arial, serif;
  font-size: 9pt;
}

.padding-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}