<div class="alternative center">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <!-- Step 1 -->
    <mat-step [stepControl]="form1">
      <form [formGroup]="form1">
        <ng-template matStepLabel>Fill out your information</ng-template>
        <p>Enter your account information into the feilds below:</p>
        <!-- Name -->
        <mat-form-field>
          <input matInput
                  (keypress)= "checkStep1()"
                  placeholder="First name, Last name"
                  formControlName="name"
                  required>
        </mat-form-field>
        <br>
        <!-- Cell No -->
        <mat-form-field>
          <input matInput
            (keypress)= "onlyNumberKey($event)"
            placeholder="Cell Phone Number"
            #inputCell
            maxlength="10"
            formControlName="cell"
            required>
          <mat-hint align="end">{{ inputCell.value?.length || 0 }}/10</mat-hint>
          <mat-error *ngIf="cell.invalid">Please enter all 10 digits!</mat-error>
        </mat-form-field>
        <br>
        <!-- Email -->
        <mat-form-field>
          <input matInput
            (keypress)= "checkStep1()"
            #inputEmail
            placeholder="Emaill Address"
            formControlName="email"
            required>
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <br>
        <!-- Facility Number -->
        <mat-form-field>
          <input matInput
                  (keypress)= "checkStep1()"                 
                  placeholder="Facility Number"
                  formControlName="facilityNo"
                  required>
        </mat-form-field>
        <!-- Next button -->
        <div>
          <button mat-stroked-button
            color="accent"
            [disabled]="!phase1 || email.invalid || cell.invalid"
            matStepperNext>
              Next
          </button>
        </div>
      </form>
    </mat-step>
    <!-- Step 2 -->
    <mat-step [stepControl]="form2">
      <form [formGroup]="form2">
        <ng-template matStepLabel>Enter New Password</ng-template>
        <p>Enter new password into the feilds below:</p>
        <mat-form-field> 
            <input matInput
                    #inputNewPass
                    (keypress)="checkFeilds()"
                    placeholder="New Password"
                    [type]="hide ? 'password' : 'text'"
                    formControlName="newPass">
            <mat-error *ngIf="newPass.invalid">Doesn't meet requrements!</mat-error>
          </mat-form-field>
          <br>
          <!-- Hints for password entry -->
          <div class="requirement" *ngIf="newPass.value?.length > 0">
            <div *ngIf="!testMinUpper()">
                *Minimum 2 Uppercase Characters.
            </div>
            <div *ngIf="!testMinNum()">
                *Minimum 2 Numbers.
            </div>
            <div *ngIf="!testMinSpecial()">
                *Minimum 1 Special Characters.
            </div>
            <div *ngIf="newPass.value?.length < 10">
                *Minimum 10 Characters.
            </div>
          </div>
          <mat-form-field>
            <input matInput
                    (keypress)="checkFeilds()"
                    placeholder="Confirm Password"
                    [type]="hide ? 'password' : 'text'"
                    formControlName="confirmNewPass">
            <mat-icon matSuffix
              (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }} </mat-icon>
          </mat-form-field>
        <!-- Next Button -->
        <div>
          <button mat-button
            matStepperPrevious
            [disabled]="clean || newPass.invalid">
            Back
          </button>
          <button mat-stroked-button
              color="accent"
              matStepperNext
              [disabled]="clean || newPass.invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <!-- Step 3 -->
    <mat-step>
      <ng-template matStepLabel>Completion</ng-template>
      <div *ngIf="!resp && !progress">
        <p>
            Please press <b>PROCEED</b> to finalize the change password process.
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          &nbsp;
          <button mat-stroked-button color="warn" (click)="stepper.reset()">Reset</button>
          &nbsp;
          <button
            mat-stroked-button
            color="accent"
            (click)="verifyUpdateInfo()">
            <mat-icon svgIcon="cube-send"></mat-icon> 
            PROCEED
          </button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <div align="center" *ngIf="resp && progress">
    <mat-spinner></mat-spinner>
  </div>
</div>