<div class="alternative">
    <!-- Display of login modal -->
    <!-- Displays assigned parking image -->
    <img src="assets/images/user-options/assigned-parking/assigned-parking.png" alt="User Info">
    <hr>
    <!-- Mat list to display assigned parking -->
    <mat-list role="list">
      <mat-list-item role="listitem">Parking Name: </mat-list-item>
      <mat-list-item role="listitem">Parking Access Level: </mat-list-item>
      <mat-list-item role="listitem">Location: </mat-list-item>
    </mat-list>
    <hr>
    <br>
    <!-- CLose button -->
    <button mat-button (click)="close()" class="center">
    <mat-icon svgIcon="close"></mat-icon>
      Close
    </button>
  </div>
  