<div class="alternative center">
  <!-- Display of login modal -->
  <!-- Displays assigned parking image -->
  <img class="padding-image" src="assets/images/user-options/assigned-parking/assigned-parking.png" alt="User Info">
  <hr>
  <!-- Mat list to display assigned parking -->
  <div class="padding-feilds">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <strong>Parking Name: &nbsp;</strong> {{ ParkingName }}
      </mat-list-item>
      <mat-list-item role="listitem">
        <strong>Parking Access Level: &nbsp;</strong> {{ ParkingAccessLevel }}
      </mat-list-item>
      <mat-list-item role="listitem">
        <strong>Location: &nbsp;</strong> {{ Location }}
      </mat-list-item>
    </mat-list>
  </div>
  <div *ngIf="ParkingName && !markerEmpty" class="padding-map">
    <app-map longitude={{longitude}} latitude={{latitude}} parkingArea={{ParkingName}} ></app-map>
  </div>
  <div *ngIf="markerEmpty">
    <p>No map data to display.</p>
  </div>
  <hr>
</div>
  