// Centers object to middle of page
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.padding-map {
  padding-left: 14%;
}

.padding-image {
  padding-left: 29%;
}

.padding-feilds {
  padding-left: 32%;
}
