@import '../theme.scss';
.mat-sidenav-container {
  .mat-sidenav {
    width: 200px;
    background: mat-color($mat-grey, 400);
  }
}

.icon {
  padding: 0 14px;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.container {
  font: 'Helvetica';
  color: red;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-unipark {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

.align-text-picture {
  width: 250px;
	height: 300px;
	float: left;
	text-align: center;
}
