@import '../theme.scss';
.mat-sidenav-container {
  .mat-sidenav {
    width: 200px;
    background: mat-color($mat-grey, 400);
  }
}

.icon {
  padding: 0 14px;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}