<!-- Toolbar with menu button, menu items -->
<div>
  <mat-toolbar color="primary">
      <img src="assets/images/branding/dc.png" alt="DC">
      <span>DragonCode</span>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <!-- Menu button -->
      <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>fingerprint</mat-icon>
            <span>Login</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>announcement</mat-icon>
            <span>Issues</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
  </mat-toolbar>
  <!-- TabGroup  under toolbar -->
  <mat-tab-group>
      <mat-tab label="Dragon Code">
        <img src="assets/images/branding/dragon-code-name.gif" alt="Dragon Code" class="center">

        <!-- Dragon code information -->
        <mat-tab-group class="center">
          <mat-tab label="Information">
            <p>Dragon Code is a group of 3rd year students from Nelson Mandela University, that have formed
              together, to slay evil bugs and develop the most efficent, secure software for the fate of man kind!
            </p>
          </mat-tab>
          <!-- Crew images, names -->
          <mat-tab label="Crew">
            <p><br></p>
            <div class="align-text-picture">
                <img src="assets/images/crew/jason.png" alt="Jason Eybers">
                <p>Jason Eybers<br>(Steve Jobless)</p>
            </div>
            <div class="align-text-picture">
                <img src="assets/images/crew/daniel.png" alt="Daniel Maree">
                <p>Daniel Maree<br>(Copy Paster)</p>
            </div>
            <div class="align-text-picture">
                <img src="assets/images/crew/wihan.png" alt="Wihan Du Plessis">
                <p>Wihan Du Plessis<br>(Data Monkey)</p>
            </div>
            <div class="align-text-picture">
                <img src="assets/images/crew/kobus.png" alt="Kobus Esterhuizen">
                <p>Kobus Esterhuizen<br>(Code-Modo Dragon)</p>
            </div>
            <div class="align-text-picture">
                <img src="assets/images/crew/maurice.png" alt="Maurice Garcies De Gois">
                <p>Maurice Gareces<br>De Gois<br>(Ctrl-SpaceFreak)</p>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
      <mat-tab label="UniPark">
        <img src="assets/images/branding/unipark.png" alt="UniPark" class="center-unipark">
          <!-- Unipark information -->  
          <mat-tab-group class="center">
            <!-- Information -->
            <mat-tab label="What is UniPark">
              <p>UniPark is an open souce project for a fully automated parking system, that will allow users that
                have access to a facilities parking area to enter. 
                The program is securely setup to prevent unauthorized users
                access to the facility, also to help the facility to control traffic, ensure that person/s
                in the facility park in the correct area, which is assigned to them. The aim of the system
                is to improve security of the facility, and ensure that little to no theft occurs regarding motor vehicles.
              </p>
            </mat-tab>
            <!-- -->
            <mat-tab label="The Looks">

            </mat-tab>
            <mat-tab label="Installation">
              <p>To install UniPark 
                <button mat-button>
                  <mat-icon svgIcon="android"></mat-icon>
                    Click Me</button>
              </p>
            </mat-tab>
          </mat-tab-group>
      </mat-tab>
  </mat-tab-group>
</div>
