<div class="alternative center">
  <!-- Display of login modal -->
  <!-- Displays user info image -->
  <img class="padding-image" src="assets/images/user-options/user-info/user-info.png" alt="User Info">
  <hr>
  <mat-dialog-content>
    <!-- Mat list to display user info -->
    <mat-list role="list">
      <mat-list-item role="listitem">
        <strong>Name: &nbsp;</strong> {{ PersonelName }}
      </mat-list-item>

      <mat-list-item role="listitem">
        <strong>Phone Number: &nbsp;</strong> {{ PhoneNumber }}
      </mat-list-item>

      <mat-list-item role="listitem">
        <strong>Email: &nbsp;</strong> {{ Email }}
      </mat-list-item>

      <mat-list-item role="listitem">
        <strong>Personnel Type: &nbsp;</strong> {{ Type }}
      </mat-list-item>
      
      <mat-list-item role="listitem">
        <strong>Personnel Level: &nbsp;</strong> {{ PersonelLevel }}
      </mat-list-item>
    </mat-list> 
  </mat-dialog-content>
  <hr>
  <br>
</div>
