<div class="alternative">
  <!-- Display of login modal -->
  <!-- Displays user info image -->
  <img src="assets/images/user-options/user-info/user-info.png" alt="User Info">
  <hr>
  <!-- Mat list to display user info -->
  <mat-list role="list">
    <mat-list-item role="listitem">Name: </mat-list-item>
    <mat-list-item role="listitem">Surname: </mat-list-item>
    <mat-list-item role="listitem">Password: </mat-list-item>
    <mat-list-item role="listitem">Personel Type: </mat-list-item>
    <mat-list-item role="listitem">Personel Level: </mat-list-item>
  </mat-list>
  <hr>
  <br>
  <!-- Close button -->
  <button mat-button (click)="close()" class="center">
  <mat-icon svgIcon="close"></mat-icon>
    Close
  </button>
</div>
