// Centers object to center of page
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.table {
  width: 100%;
  height: 50%;
  overflow: auto;
}

.padding-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.ammount {
  color: red;
}