<div>
  <!-- Display of login modal -->
  <!-- Displays login image -->
  <img src="assets/images/login/login.png" alt="Login">
   <hr>
  <!-- Mat form field: facility number -->
  <mat-form-field>
    <input matInput  placeholder="Facility Number">
  </mat-form-field>
   <br>
  <!-- Mat form field: password -->
  <mat-form-field>
    <input matInput placeholder="Password">
  </mat-form-field>
  <br>
  <!-- Close button -->
  <button mat-button (click)="close()">
    <mat-icon svgIcon="cancel"></mat-icon>
    Cancel
  </button>
  <!-- Login button -->
  <button mat-button>
    <mat-icon svgIcon="login-variant"></mat-icon> 
    Login
  </button>
</div>
